# Игнорирование временных файлов
*.tmp
*.bak
*.swp

# Игнорирование файлов среды разработки
.vscode/
.idea/

# Игнорирование виртуальных окружений
venv/
env/

# Игнорирование файлов конфигурации
config.ini
settings.ini

# Игнорирование логов
logs/

# Игнорирование кэша и временных файлов
cache/
temp/
__pycache__/
**/__pycache__/

# Игнорирование зависимостей
node_modules/
packages/

# Игнорирование сгенерированных файлов
dist/
build/

.pyc
virtualenv
db.sqlite3
./static